@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

@import "tailwindcss";
